node_modules
lib-cov
coverage.html
example
.DS_Store
coverage

.idea/.name

.idea/encodings.xml

.idea/jsLibraryMappings.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/wechat-Node.iml

.idea/workspace.xml
